@model LMS_WEB.Entities.AuthorEnt


@{
    ViewData["Title"] = "AddAuthor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Agregar Autor</h4>

            @using (Html.BeginForm("AddAuthor", "Author", FormMethod.Post, new { @class = "pt-3", @enctype = "multipart/form-data" }))
            {
                @ViewBag.Message

                @Html.HiddenFor(m => m.id_author)

                <div class="form-group">
                    <label>Nombre</label>
                    @Html.TextBoxFor(m => m.name_author, new { @class="form-control form-control-lg", @type="text", @placeholder="Nombre de Autor" })
                </div>
                <div class="form-group">
                    <label>Nacionalidad</label>
                    @Html.TextBoxFor(m => m.nationality, new { @class="form-control form-control-lg", @type="text", @placeholder="Nacionalidad" })
                </div>
                <div class="form-group">
                    <label>Fecha de Nacimiento</label>
                    @Html.TextBox("date_of_birth", 
                                Model?.date_of_birth.ToString("dd/MM/yyyy"),
                                new { @class = "form-control form-control-lg", @placeholder = "dd/mm/yyyy", @type = "text", id = "datepicker" })
                </div>
                <div class="form-group">
                    <label>Biografía</label>
                    <p class="text-muted mb-4">El mensaje tiene un limite de 100 carácteres.</p>
                    @Html.TextAreaFor(m => m.biography, new { @class="form-control form-control-lg", @type="text", @placeholder="Biografía", rows = 6, cols = 40})
                </div>


                <div class="form-group row text-center">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <a href="@Url.Action("ViewAuthors", "Author")" class="btn btn-secondary btn-block waves-effect waves-light">Volver</a>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Agregar Autor</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    flatpickr("#datepicker", {
        dateFormat: "d/m/Y",  // Formato dd/mm/yyyy
        allowInput: true,     // Permite escribir la fecha manualmente
        altInput: true,       // Muestra un input alternativo cuando se escribe
        altFormat: "d/m/Y"    // Formato de salida para el input alternativo
    });
</script>