@model List<LMS_WEB.Entities.AuthorEnt>
@using LMS_WEB.Helpers

@{
    ViewData["Title"] = "ViewAuthors";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css">

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información de Libros</h4>

            <div style="text-align:right">
                <a class="btn btn-primary" href="@Url.Action("AddAuthor","Author")">Agregar Autor</a>
            </div>
            <br>

            <table id="showData" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Nacionalidad</th>
                        <th>Fecha Nacimiento</th>
                        <th>Biografía</th>
                        <th>Actualizar</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.name_author</td>
                            <td>@item.nationality</td>
                            <td>
                                @{
                                    // Formatear la fecha en un formato legible
                                    @item.date_of_birth.ToString("d 'de' MMMM 'de' yyyy", new System.Globalization.CultureInfo("es-CR"))
                                }
                            </td>
                            <td class="biography-column" data-biography="@item.biography" title="Ver más">
                                @{
                                    // Mostrar un resumen de la biografía
                                    var summary = item.biography.Length > 100 ? item.biography.Substring(0, 100) + "..." : item.biography;
                                    @summary
                                }
                            </td>
                            <td>@UpdateBtn.RenderUpdateButtonAuthor(item)</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/js/ScriptFunctions.js"></script>

<script>
    $(document).ready(function () {
        // Mostrar tooltip al pasar el mouse sobre la biografía
        $('.biography-column').hover(function () {
            $(this).attr('title', $(this).data('biography'));
        });

        // Abrir modal al hacer clic en la biografía
        $('.biography-column').click(function () {
            var biography = $(this).data('biography');
            $('#modalBiographyContent').text(biography);
            $('#biographyModal').modal('show');
        });
    });
</script>


<style>
    /* Limitar el ancho de la columna de biografía */
    .biography-column {
        max-width: 300px; /* Ajusta este valor según tus necesidades */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    /* Estilo para el tooltip */
    .biography-tooltip {
        position: absolute;
        background-color: #333;
        color: #fff;
        padding: 5px;
        border-radius: 3px;
        font-size: 14px;
        z-index: 1000;
        display: none;
    }
</style>