@model LMS_WEB.Entities.BookEnt

@{
    ViewData["Title"] = "UpdateBook";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Actualizar Libro</h4>

            @using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post, new { @class = "pt-3", @enctype = "multipart/form-data" }))
            {
                @*@ViewBag.MensajePantalla*@

                @Html.HiddenFor(m => m.id_book)

                <div class="form-group">
                    <label>Título</label>
                    @Html.TextBoxFor(m => m.title, new { @class="form-control form-control-lg", @type="text", @placeholder="Título" })
                </div>
                <div class="form-group">
                    <label>Clasificación</label>
                    @Html.TextBoxFor(m => m.classification_name, new { @class="form-control form-control-lg", @type="text", @placeholder="Clasificación" })
                </div>
                <div class="form-group">
                    <label>Tipo de Clasificación</label>
                    @Html.DropDownListFor(m => m.id_classification, ViewBag.Classification as List<SelectListItem>, new { @class="form-control form-control-lg" })
                </div>
                <div class="form-group">
                    <label>Tema</label>
                    @Html.TextBoxFor(m => m.subject_book, new { @class="form-control form-control-lg", @type="text", @placeholder="Tema" })
                </div>
                <div class="form-group">
                    <label>Lenguaje</label>
                    @Html.DropDownListFor(m => m.id_language, ViewBag.Language as List<SelectListItem>, new { @class="form-control form-control-lg" })
                </div>
                <div class="form-group">
                    <label>Descripción Física</label>
                    @Html.TextBoxFor(m => m.description_book, new { @class="form-control form-control-lg", @type="text", @placeholder="color, tamaño, ilustraciones" })
                </div>
                <div class="form-group">
                    <label>ISBN</label>
                    @Html.TextBoxFor(m => m.isbn, new { @class="form-control form-control-lg", @type="text", @placeholder="ISBN" })
                </div>
                <div class="form-group">
                    <label>Autor</label>
                    @Html.DropDownListFor(m => m.id_author, ViewBag.Author as List<SelectListItem>, new { @class="form-control form-control-lg" })
                </div>
                <div class="form-group">
                    <label>Publicador</label>
                    @Html.TextBoxFor(m => m.publisher, new { @class="form-control form-control-lg", @type="text", @placeholder="Publicador" })
                </div>
                <div class="form-group">
                    <label>Fecha de Publicación</label>
                    @Html.TextBox("publication_date",
                            Model?.publication_date.ToString("dd/MM/yyyy"),
                            new { @class = "form-control form-control-lg", @type = "text", id = "datepicker", @placeholder="dd/mm/yyyy" })
                </div>
                <div class="form-group">
                    <label>Unidades</label>
                    @Html.TextBoxFor(m => m.quantity, new { @onkeypress="return FnInt(event)", @maxlength="3", @class="form-control form-control-lg", @type="number", @placeholder="Unidades" })
                </div>
                <div class="form-group">
                    <label>Disponibilidad</label>
                    @Html.DropDownListFor(m => m.availability_book, ViewBag.AvailabilityOptions as List<SelectListItem>, new { @class = "form-control form-control-lg" })
                </div>

                <div class="form-group">
                    <label>Imagen</label>
                    <input type="file" id="img_book" accept="image/png" name="img_book" class="form-control form-control-lg">
                </div>

                <div class="form-group row text-center">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <a href="@Url.Action("ViewBooks", "Book")" class="btn btn-secondary btn-block waves-effect waves-light">Volver</a>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Actualizar Libro</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    flatpickr("#datepicker", {
        dateFormat: "d/m/Y",  // Formato dd/mm/yyyy
        allowInput: true,     // Permite escribir la fecha manualmente
        altInput: true,       // Muestra un input alternativo cuando se escribe
        altFormat: "d/m/Y"    // Formato de salida para el input alternativo
    });
</script>