@model List<LMS_WEB.Entities.BookEnt>
@using LMS_WEB.Helpers

@{
    ViewData["Title"] = "ViewBooks";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css">


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información de Libros</h4>

            <div style="text-align:right">
                <a class="btn btn-primary" href="@Url.Action("AddBook","Book")">Agregar</a>
            </div>
            <br>

            <div class="table-container">
                <table id="showData" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Clasificación</th>
                            <th>Tipo Clasificación</th>
                            <th>Tema</th>
                            <th>Lenguaje</th>
                            <th>Descripción Física</th>
                            <th>ISBN</th>
                            <th>Autor</th>
                            <th>Publicador</th>
                            <th>Fecha de Publicación</th>
                            <th>Ejemplares</th>
                            <th>Disponibilidad</th>
                            <th>Estado</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.title</td>
                                <td>@item.classification_name</td>
                                <td>@item.classification_type</td>
                                <td>@item.subject_book</td>
                                <td>@item.language_name</td>
                                <td>@item.description_book</td>
                                <td>@item.isbn</td>
                                <td>@item.name_author</td>
                                <td>@item.publisher</td>
                                <td>
                                    @{
                                        @item.publication_date.ToString("d 'de' MMMM 'de' yyyy", new System.Globalization.CultureInfo("es-CR"))
                                    }
                                </td>
                                <td>@item.quantity</td>
                                <td>@(item.availability_book ? "Disponible" : "No Disponble")</td>
                                <td>@(item.status_book ? "Activo" : "Inactivo")</td>
                                <td style="text-align:center"><img src=@item.img_book style="width:150px; height:150px; border-radius:0px"></td>
                                <td>@UpdateBtn.RenderActionButtonsBook(item)</td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/js/ScriptFunctions.js"></script>